.notes {
    padding: 10px 10%;
    margin-bottom: 15px;
}

.note-title__display {
    width: 90%;
    background-color: #eee;
    color: black;
    font-size: 18px;
    text-align: left;
    padding: 18px;
    font-weight: bolder;
    cursor: pointer;
    border: none;
    outline: none;
}

.note-title__display {
    background-color: #ccc;
}

.notes-description{
    background-color: #fff;
    width: 90%;
    padding: 18px;
}

.title-container{
    display: flex;
}
.trash-button{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    cursor: pointer;
}

.trash-button i{
    font-size: 18px;
    transition: font-size 0.1s ease; 
}

.trash-button i:hover{
    font-size: 22px;
}

.note-id{
    font-weight: 900;
}