.note-details{
    color: white;
    display: flex;
    flex-direction: column;
}

.note-details label{
    margin-top: 15px;
}
.note-details input{
    width: 80vw;
    padding: 15px;
    border-radius: 15px;
}
.note-details textarea{
    width: 80vw;
    padding: 15px;
    border-radius: 15px;
}

.add-note-button{
    width: 120px;
    font-size: 16px;
    font-weight: 900;
    padding: 10px;
    border-radius: 12px;
    margin-top: 15px;
    cursor: pointer;
}

.note-details input, .note-details textarea{
    font-weight: 900;
    font-size: 14px;
}